<h1>Адмін панель</h1>
<form asp-controller="Admin" asp-action="SaveToJson" method="post">
    <button type="submit">Зберегти в JSON</button>
</form>
<form asp-controller="Admin" asp-action="LoadFromJson" method="post">
    <button type="submit">Завантажити з JSON</button>
</form>